
<div class="headings">
	<div class="well well-sm blue">
		<h1>
			Why'd I make this?
		</h1>	
	</div>
</div>

<div class="headings">
	<div class="well well-sm ">
		<h4>
			<ul>
				<li>I made this to give people my take on Donald. He has a bunch of different personas he's created and I wanted to make a site on my interpretations of them</li>
				<li>The second part to this site is that people can share "Clips" of their own and write about their own views (on his content.. since it's a Donald contest)</li>
				<li>Obviously, the site is no where near done (Started like pretty late for the contest, but just wanted to submit something)</li>
			</ul>
		</h4>	
	</div>
</div>

<div class="headings">
	<div class="well well-sm blue">
		<h1>
			Future plans for this app
		</h1>	
	</div>
</div>

<div class="headings">
	<div class="well well-sm">
		<h4>
			<ul>
				<li>I will fill up the content for each of his personas - writing up articles on my take on his creations</li>
				<li>The "Clips" that you'll be able to share will be able images/text/videos/audio in the coming weeks. (ONLY images for now)</li>
				<li>I'll take any suggestions through email at: <strong>ashdarji1@gmail.com</strong></li>
			</ul>
		</h4>	
	</div>
</div>

