
<div class="headings">
	<div class="well well-sm">
		<h1>
			Why make this?
		</h1>	
	</div>
</div>

<div class="headings">
	<div class="well well-sm">
		<h4>
			<ul>
				<li>BLAH</li>
			</ul>
		</h4>	
	</div>
</div>
