<div id="pins" class="transitions-enabled">
  
	<div class="box">
	  <img src="https://s3.amazonaws.com/black-spiderman/cg.jpg">
	  <div class="panel-body">
	    <div class="pin-title">TITLE/DATE</div>
	    <div class="pin-description">DESC.</div>
	  </div>
	</div>

</div>