// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
  background: #181F23;
  overflow-x: hidden;
}

tits {
  font-family: "Poiret One";
  padding: 0;
  margin: 0;
  font-size: 8em;
}

.card {
  border: 1px solid #fff;
  margin: 15px;
  height: 100%;
}

.card-image {
  height: 20%;
  position: relative;
}

.card {
   z-index:1;
   -webkit-transition:all 0.1s ease-in-out;
   height: 20%;
}
.card:hover {
   height:100%;
   z-index:2;
   -webkit-transform:translate(-15px,10px);
   -webkit-box-shadow: 1px 1px 1px #888;
    .card-image{
      tits > a {
        color: black;
      }
    }
}

tits > a {
  text-decoration: none;
  color: white;
}

tits > a:hover {
  text-decoration: none;
  color: black
}

.pic-desc {
  border: 2px solid lighten(#000, 80%);
  margin-bottom: 10px;
  border-radius: 5px;
}

.show-border {
  border: 2px solid white;
  border-radius: 5px;
}

// ========= LOAD IMAGES IN CARDS ==========
// .troy {
//   background-image: url('https://s3.amazonaws.com/black-spiderman/troy.jpg');
// }

// .tb {
//   background-image: url('https://s3.amazonaws.com/black-spiderman/tb2.jpg');
// }

// .cg {
//   background-image: url('https://s3.amazonaws.com/black-spiderman/cg.jpg');
// }

// .dg {
//   background-image: url('https://s3.amazonaws.com/black-spiderman/dg.jpg');
// }

// ====== WHY - page ========
.headings {
  margin: 0 20px;
}