// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
  background: #444444;
  overflow-x: hidden;
}

span {
  font-family: "Poiret One";
	padding: 0;
	margin: 0;
  font-size: 8em;
}

.card {
  border: 1px solid #fff;
  margin: 15px;
  height: 100%;
}

.card-image {
  height: 20%;
  position: relative;
}




// ========= LOAD IMAGES IN CARDS ==========
.troy {
  background-image: url('/assets/troy.jpg');
}

.tb {
  background-image: url('/assets/tb2.jpg');
}

.cg {
  background-image: url('/assets/cg.jpg');
}

.dg {
  background-image: url('/assets/dg.jpg');
}